/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 414px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png");
  width: 128px;
  height: 38px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu li a {
  display: block;
  padding: 16px;
  color: #8d8d8d;
  text-decoration: none;
}
@media (max-width: 768px) {
  .menu li a {
    position: relative;
  }
}
@media (max-width: 768px) {
  .menu li a em {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    background: #916019;
    color: #fff;
  }
}

.mobileMenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 375px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  max-height: 0px;
  overflow: hidden;
  z-index: 120;
}
.mobileMenu.active {
  max-height: 300px;
}
.mobileMenu li a {
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  display: block;
  background: #707070;
  color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.mobileMenu li a:hover {
  background: #8d8d8d;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 870px;
}
.cta .content {
  max-width: 445px;
  color: #fff;
  margin-right: 405px;
}
.cta .content h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}
.cta .content p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .cta .content {
    max-width: auto;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}
.productList > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.productList > li.productReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 992px) {
  .productList > li.productReverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 992px) {
  .productList > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.productIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 555px;
  height: 555px;
  padding: 0 110px;
}
.productIntro h2 {
  font-size: 32px;
  line-height: 60px;
  font-weight: 700;
}
.productIntro p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
@media (max-width: 992px) {
  .productIntro {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .productIntro {
    width: 345px;
    height: auto;
    margin-bottom: 32px;
  }
}

.productImg {
  display: block;
  width: 555px;
  height: 555px;
}
@media (max-width: 768px) {
  .productImg {
    width: 345px;
    height: 350px;
  }
}
.productImg.productImgLong {
  height: 1080px;
}

.productIntroList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 555px;
  padding: 0 110px;
}
.productIntroList li h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
.productIntroList li p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
@media (max-width: 992px) {
  .productIntroList li p {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .productIntroList {
    padding: 0 15px;
    width: 345px;
  }
}

.productSampleSection {
  padding: 40px 0;
  background: #e0e0e0;
}

.productSampleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.productSampleList li.soldout {
  position: relative;
}
.productSampleList li .shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 540px;
}
@media (max-width: 768px) {
  .productSampleList li .shadow {
    width: 345px;
    height: 350px;
  }
}
.productSampleList li .productSampleImg {
  width: 350px;
  height: 540px;
}
@media (max-width: 768px) {
  .productSampleList li .productSampleImg {
    width: 345px;
    height: 350px;
  }
}
.productSampleList li h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
.productSampleList li .productSampleAuthor,
.productSampleList li .productSamplePrice {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.productSampleList li .productSamplePrice span {
  text-decoration: line-through;
  color: #8d8d8d;
}
@media (max-width: 992px) {
  .productSampleList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bottleRecycle {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .bottleRecycle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.bottleRecycle .bottleRecycleImg {
  display: block;
  width: 730px;
  height: 520px;
}
@media (max-width: 768px) {
  .bottleRecycle .bottleRecycleImg {
    width: 345px;
  }
}
.bottleRecycle .content {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .bottleRecycle .content {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .bottleRecycle .content {
    padding: 0 15px;
  }
}
.bottleRecycle .content h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}
.bottleRecycle .content h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.bottleRecycle .content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.subscribeArea {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true");
  background-size: cover;
  background-position: center center;
  height: 600px;
}
.subscribeArea .content {
  padding-top: 312px;
}
@media (max-width: 992px) {
  .subscribeArea .content {
    padding: 312px 15px;
  }
}
.subscribeArea .content h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #8d8d8d;
  margin-bottom: 20px;
}
.subscribeArea .content .subscribe input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #8d8d8d;
  padding: 20px;
  border: 2px solid #916019;
  margin-right: -4px;
}
.subscribeArea .content .subscribe .btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  outline: none;
  border: 2px solid #916019;
  background-color: #916019;
  color: #fff;
  padding: 20px;
}

.footer {
  background: #916019;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container .footerLogoArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container .footerLogoArea span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin-left: 20px;
  color: #fff;
}
.footer .container .footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .footerMenu li a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 18px;
}

.brandMenuArea {
  background: #916019;
}
.brandMenuArea .brandMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brandMenuArea .brandMenu li a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  display: block;
  padding: 14px;
  text-decoration: none;
  color: #fff;
}

.productPageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0;
}
@media (max-width: 414px) {
  .productPageList {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.productPageList li {
  margin-bottom: 58px;
}
.productPageList li img {
  width: 255px;
  height: 255px;
}
@media (max-width: 768px) {
  .productPageList li img {
    width: 165px;
    height: 165px;
  }
}
.productPageList li h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
.productPageList li h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.productPageList li p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.productPageList li p span {
  text-decoration: line-through;
  color: #8d8d8d;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.pagination li a {
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
}
.pagination li a.active {
  color: #916019;
  text-decoration: underline;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .pd-none {
    display: none !important;
  }
}

.pd-show {
  display: none;
}
@media (max-width: 768px) {
  .pd-show {
    display: block !important;
  }
}

@media (max-width: 414px) {
  .mb-none {
    display: none !important;
  }
}

.mb-show {
  display: none;
}
@media (max-width: 414px) {
  .mb-show {
    display: block !important;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
}
.btn.btn-outline {
  border-radius: 30px;
  background-color: transparent;
}
.btn.btn-outline.btn-white {
  font-size: 28px;
  padding: 13px 109px;
  border: 2px solid #fff;
  color: #fff;
}
.btn.btn-outline.btn-black {
  font-size: 20px;
  padding: 18px 53px;
  border: 2px solid #000;
  color: #000;
}

.link {
  text-decoration: none;
  color: #916019;
  font-weight: 700;
}

.icon {
  color: #916019;
}