//mb
.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

// pad hide
.pd-none {
  @include pad {
    display: none;
  }
}

// pad show
.pd-show {
  display: none;
  @include pad {
    display: block;
  }
}

//mobile hide
.mb-none {
  @include mobile {
    display: none;
  }
}

//mobile show
.mb-show {
  display: none;
  @include mobile {
    display: block;
  }
}

//button
.btn {
  font-weight: $font-bold;
  font-size: $base;

  &.btn-outline {
    border-radius: 30px;
    background-color: transparent;
    &.btn-white {
      font-size: $larger3;
      padding: 13px 109px;
      border: 2px solid $whiteColor;
      color: $whiteColor;
    }

    &.btn-black {
      font-size: $larger;
      padding: 18px 53px;
      border: 2px solid $blackColor;
      color: $blackColor;
    }
  }
}

// link
.link {
  text-decoration: none;
  color: $yellowColor;
  font-weight: $font-bold;
}
