body {
  font-family: $font-family;
  font-weight: $font-regular;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  @include mobile {
    padding-right: 15px;
    padding-left: 15px;
  }
}

// header
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png');
  width: 128px;
  height: 38px;
  @include hide-text();
}

.menu {
  display: flex;
  li {
    a {
      display: block;
      padding: 16px;
      color: $garyColorDark;
      text-decoration: none;

      @include pad {
        position: relative;
      }

      em {
        @include pad {
          position: absolute;
          top: 10px;
          right: 10px;
          border-radius: 50px;
          background: $yellowColor;
          color: $whiteColor;
        }
      }
    }
  }
}

.mobileMenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 375px;
  transition: 0.8s all;
  max-height: 0px;
  overflow: hidden;
  z-index: 120;

  &.active {
    max-height: 300px;
  }

  li {
    a {
      padding: 16px 0;
      text-align: center;
      text-decoration: none;
      display: block;
      background: #707070;
      color: $whiteColor;
      border: 1px solid $whiteColor;
      @include font-setting($larger, $lh-base, $font-regular);

      &:hover {
        background: $garyColorDark;
      }
    }
  }
}

// call to action
.cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 870px;

  .content {
    max-width: 445px;
    color: $whiteColor;
    margin-right: 405px;
    h2 {
      @include font-setting($larger5, $lh-larger4, $font-bold);
    }
    p {
      @include font-setting($larger2, $lh-larger2, $font-regular);
    }

    @include pad {
      max-width: auto;
      margin-right: 0;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @include pad {
    justify-content: center;
  }
}

// productList
.productList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 0;
  > li {
    display: flex;
    justify-content: center;
    &.productReverse {
      flex-direction: row-reverse;
      @include desktop {
        flex-direction: column;
      }
    }
    @include desktop {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}

.productIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 555px;
  height: 555px;
  padding: 0 110px;
  h2 {
    @include font-setting($larger4, $lh-larger4, $font-bold);
  }
  p {
    @include font-setting($larger, $lh-larger, $font-light);
  }
  @include desktop {
    padding: 0 15px;
  }
  @include pad {
    width: 345px;
    height: auto;
    margin-bottom: 32px;
  }
}

//productList
.productImg {
  display: block;
  width: 555px;
  height: 555px;

  @include pad {
    width: 345px;
    height: 350px;
  }

  &.productImgLong {
    height: 1080px;
  }
}

.productIntroList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 555px;
  padding: 0 110px;
  li {
    h3 {
      @include font-setting($larger2, $lh-larger2, $font-bold);
    }
    p {
      @include font-setting($base, $lh-base, $font-light);
      @include desktop {
        margin-bottom: 20px;
      }
    }
  }
  @include pad {
    padding: 0 15px;
    width: 345px;
  }
}
// productSample
.productSampleSection {
  padding: 40px 0;
  background: $garyColorLight;
}

.productSampleList {
  display: flex;
  justify-content: space-between;
  li {
    &.soldout {
      position: relative;
    }

    .shadow {
      display: flex;
      justify-content: center;
      align-items: center;
      @include font-setting($base, $lh-larger2, $font-bold);
      background: rgba(0, 0, 0, 0.3);
      color: $whiteColor;
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 540px;

      @include pad {
        width: 345px;
        height: 350px;
      }
    }

    .productSampleImg {
      width: 350px;
      height: 540px;

      @include pad {
        width: 345px;
        height: 350px;
      }
    }

    h2 {
      @include font-setting($larger2, $lh-larger2, $font-bold);
    }
    .productSampleAuthor,
    .productSamplePrice {
      @include font-setting($base, $lh-base, $font-light);
    }
    .productSamplePrice {
      span {
        text-decoration: line-through;
        color: $garyColorDark;
      }
    }
  }

  @include desktop {
    flex-direction: column;
    align-items: center;
  }
}

// bottle recycle
.bottleRecycle {
  padding: 60px 0;
  display: flex;

  @include desktop {
    flex-direction: column;
    align-items: center;
  }

  .bottleRecycleImg {
    display: block;
    width: 730px;
    height: 520px;
    @include pad {
      width: 345px;
    }
  }

  .content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
      margin-left: 0;
    }

    @include pad {
      padding: 0 15px;
    }

    h2 {
      @include font-setting($larger4, $lh-larger3, $font-bold);
    }
    h3 {
      @include font-setting($larger, $lh-larger, $font-light);
    }
    p {
      @include font-setting($base, $lh-base, $font-light);
    }
  }
}

//subscribeArea
.subscribeArea {
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true');
  background-size: cover;
  background-position: center center;
  height: 600px;

  .content {
    padding-top: 312px;
    @include desktop {
      padding: 312px 15px;
    }

    h2 {
      @include font-setting($larger4, $lh-larger3, $font-bold);
      color: $garyColorDark;
      margin-bottom: 20px;
    }

    .subscribe {
      input {
        @include font-setting($base, $lh-base, $font-medium);
        color: $garyColorDark;
        padding: 20px;
        border: 2px solid $yellowColor;
        margin-right: -4px;
      }

      .btn {
        @include font-setting($base, $lh-base, $font-medium);
        outline: none;
        border: 2px solid $yellowColor;
        background-color: $yellowColor;
        color: $whiteColor;
        padding: 20px;
      }
    }
  }
}

//footer
.footer {
  background: $yellowColor;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerLogoArea {
      display: flex;
      align-items: center;

      span {
        @include font-setting($smaller, $lh-smaller, $font-medium);
        margin-left: 20px;
        color: $whiteColor;
      }
    }

    .footerMenu {
      display: flex;
      li {
        a {
          @include font-setting($larger, $lh-larger, $font-regular);
          text-decoration: none;
          color: $whiteColor;
          display: block;
          padding: 18px;
        }
      }
    }
  }
}
