body {
  font-family: $font-family;
  font-weight: $font-regular;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  @include mobile {
    padding-right: 15px;
    padding-left: 15px;
  }
}

// header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png');
  width: 128px;
  height: 38px;
  @include hide-text();
}

.menu {
  display: flex;
  li {
    a {
      display: block;
      padding: 16px;
      color: $garyColorDark;
      text-decoration: none;

      @include pad {
        position: relative;
      }

      em {
        @include pad {
          position: absolute;
          top: 10px;
          right: 10px;
          border-radius: 50px;
          background: $yellowColor;
          color: $whiteColor;
        }
      }
    }
  }
}

// call to action
.cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 870px;

  .content {
    max-width: 445px;
    color: $whiteColor;
    margin-right: 405px;
    h2 {
      font-size: $larger5;
      font-weight: $font-bold;
      line-height: $lh-larger4;
    }
    p {
      font-size: $larger2;
      line-height: $lh-larger2;
    }

    @include pad {
      max-width: auto;
      margin-right: 0;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @include pad {
    justify-content: center;
  }
}

// productList
.productList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 0;
  > li {
    display: flex;
    justify-content: center;
    &.productReverse {
      flex-direction: row-reverse;
      @include desktop {
        flex-direction: column;
      }
    }
    @include desktop {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}

.productIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 555px;
  height: 555px;
  padding: 0 110px;
  h2 {
    font-weight: $font-bold;
    font-size: $larger4;
    line-height: $lh-larger4;
  }
  p {
    font-size: $larger;
    line-height: $lh-larger;
    font-weight: $font-light;
  }
  a {
    text-decoration: none;
    color: $yellowColor;
    font-weight: $font-bold;
  }
  @include desktop {
    padding: 0 15px;
  }
  @include pad {
    width: 345px;
    height: auto;
    margin-bottom: 32px;
  }
}

//productList
.productImg {
  display: block;
  width: 555px;
  height: 555px;

  @include pad {
    width: 345px;
    height: 350px;
  }

  &.productImgLong {
    height: 1080px;
  }
}

.productIntroList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 555px;
  padding: 0 110px;
  li {
    h3 {
      font-size: $larger2;
      line-height: $lh-larger2;
      font-weight: $font-bold;
    }
    p {
      font-size: $base;
      line-height: $lh-base;
      font-weight: $font-light;
      @include desktop {
        margin-bottom: 20px;
      }
    }
  }
  @include pad {
    padding: 0 15px;
    width: 345px;
  }
}
// productSample
.productSampleSection {
  padding: 40px 0;
  background: $garyColorLight;
}

.productSampleList {
  display: flex;
  justify-content: space-between;
  li {
    &.soldout {
      position: relative;
    }

    .shadow {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $base;
      line-height: $lh-larger2;
      font-weight: $font-bold;
      background: rgba(0, 0, 0, 0.3);
      color: $whiteColor;
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 540px;

      @include pad {
        width: 345px;
        height: 350px;
      }
    }

    .productSampleImg {
      width: 350px;
      height: 540px;

      @include pad {
        width: 345px;
        height: 350px;
      }
    }

    h2 {
      font-size: $larger2;
      line-height: $lh-larger2;
      font-weight: $font-bold;
    }
    .productSampleAuthor,
    .productSamplePrice {
      font-size: $base;
      line-height: $lh-base;
      font-weight: $font-light;
    }
    .productSamplePrice {
      span {
        text-decoration: line-through;
        color: $garyColorDark;
      }
    }
  }

  @include desktop {
    flex-direction: column;
    align-items: center;
  }
}
