//setting area
.settingArea {
  display: flex;
  // justify-content: space-evenly;

  padding: 80px 0 60px;
  @include desktop {
    padding: 48px 15px;
    flex-direction: column;
    justify-content: center;
  }

  .settingMenuArea {
    margin-right: 90px;
    color: #848484;

    @include desktop {
      order: 1;
      margin-right: 0;
      margin-bottom: 16px;
    }

    h2 {
      @include font-setting($larger, $lh-larger, $font-medium);
    }
    .settingMenu {
      @include desktop {
        display: flex;
        justify-content: space-between;
      }

      li {
        a {
          display: block;
          color: #848484;
          @include font-setting($base, $lh-base, $font-medium);
          margin-bottom: 24px;
          text-decoration: none;
          &:hover,
          &.active {
            border-bottom: 2px solid $yellowColor;
          }
        }
      }
    }
  }

  .personalSettingArea {
    width: 635px;
    margin-right: 34px;
    color: #818a91;

    @include desktop {
      order: 3;
      width: 100%;
      margin-right: 0;
    }

    h3 {
      //line height should be 22px
      @include font-setting($base, $lh-smaller, $font-medium);
      padding-bottom: 8px;
      border-bottom: 2px solid #818a91;
    }
    .form-group {
      display: flex;
      align-items: center;
      label {
        width: 64px;
        //lh should be 22
        @include font-setting($base, $lh-smaller, $font-regular);
        margin-right: 31px;
      }
      .form-control {
        width: 350px;
        @include mobile {
          width: 255px;
        }
      }
      .btn {
        margin-left: 98px;
      }
    }
  }

  .personalInfoArea {
    color: #818a91;

    @include desktop {
      order: 2;
      margin-bottom: 24px;
    }

    h2 {
      //lh == 22
      @include font-setting($base, $lh-smaller, $font-regular);
      span {
        @include font-setting($larger, $lh-larger, $font-medium);
        color: $garyColorDark;
      }
    }
    .personalInfoList {
      li {
        display: flex;
        @include font-setting($base, $lh-base, $font-regular);
        margin-bottom: 16px;

        .title {
          width: 64px;
          margin-right: 31px;
        }

        &.note {
          margin-top: -16px;
          @include font-setting($smaller, $lh-smaller, $font-regular);
          color: #a5a5a5;
        }
      }
    }
  }
}
