//font
//$pingFangTC: PingFangTC-Regular, sans-serif;
$font-family: 'Noto Sans TC', sans-serif;

//font-weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

//font size
$base: 16px;
$smaller: $base * 0.875; //14px
$larger: $base * 1.25; //20px
$larger2: $base * 1.5; // 24px
$larger3: $base * 1.75; //28px;
$larger4: $base * 2; //32px
$larger5: $base * 2.5; //40px

//line height
$lh-base: 24px;
$lh-smaller2: $lh-base * 0.75; // 18px
$lh-smaller: $lh-base * 0.875; //21px
$lh-larger: $lh-base * 1.25; //30px
$lh-larger2: $lh-base * 1.5; //36px
$lh-larger3: $lh-base * 2; //48px
$lh-larger4: $lh-base * 2.5; //60px

//color
$yellowColor: #916019;
$garyColorDark: #8d8d8d;
$garyColorLight: #e0e0e0;
$whiteColor: #fff;
$blackColor: #000;
